{% extends "base.html" %}

{% block content %}
<section class="taxonomy">
  <header class="page-header">
    <h1 class="page-header__title">Tags</h1>
    <p class="page-header__desc">{{ terms | length }} tag{% if terms | length != 1 %}s{% endif %}</p>
  </header>

  <ul class="tag-cloud">
    {%- for term in terms %}
    <li>
      <a class="tag" href="{{ term.permalink | safe }}">#{{ term.name }}</a>
      <span class="tag-cloud__count">{{ term.pages | length }}</span>
    </li>
    {%- endfor %}
  </ul>
</section>
{% endblock content %}
